<h1>Wall#posts</h1>
<p>Find me in app/views/wall/posts.html.erb</p>
<h1>Resent Posts</h1>
<% @posts.reverse.each do |post| %>
<div style="background-color: #e9eaed;">
	<div sytle="background-color:#ffffff; width: 400px; border: 2px solid #d3d6db; padding: 10px; word-break: break-all;">
		<h3 style="color: blue;"><%= post.name %></h3>
		<p><%=post.content%></p>

	</div><br>
<% end %>
	<a href="/wall/write">Write post again</a>	
</div>