<h1>Wall#posts</h1>
<p>Find me in app/views/wall/posts.html.erb</p>
<div style="background-color: #e9eaed;">
	<h1>Resent Posts</h1>
	<div sytle="background-color:#ffffff; width: 400px; border: 2px solid #d3d6db; padding: 10px; word-break: break-all;">
		<h3 style="color: blue;"><%= @writer %></h3>
		<p><%=@content%></p>
		
	</div><br>
	<a href="/wall/write">Write post again</a>	
</div>